services:
  bot: 
    build: .
    env_file:
      - .env
    environment:
      POSTGRES_URL: postgres://postgres:postgres@pg:5432/postgres
    restart: unless-stopped
    depends_on:
      - pg
  
  pg:
    image: postgres:18
    volumes: 
      - pgdata:/var/lib/postgresql/
    environment:
      POSTGRES_PASSWORD: postgres
    restart: unless-stopped

volumes:
  pgdata: